/* --- LAYOUT --- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: rgb(53, 48, 48);
}

body {
    margin: 1% 9%;
}

/* --- HEADER --- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

#header_logo {
    width: 350px;
    height: 110px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_logo img {
    width: 350px;
    height: 350px;
}

/* Nav */

nav {
    width: 155px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* --- MAIN --- */

/* Image background */

#image_section {
    margin-top: 15px;
    background-image: url(Images/backgroung_image.jpg);
    background-size: cover;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

#title_logo img {
    height: 60px;
    width: auto;
}

#title_logo h1 {
    color: rgba(255, 255, 255, 0.877);
    font-weight: 400;
    font-size: 30px;
}

/* --- SECTION PRESENTATION --- */

#presentation {
    margin: 20px 15%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#presentation_para {
    font-size: 1.4em;
    padding: 20px 40px;
    color: rgb(114, 114, 114);
}

/* Articles */

#presentation_articles { 
    display: flex;
    align-self: flex-end;
}

.article_titre {
    font-size: 1.3em;
}

article {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

article p { padding: 15px; }

article img {
    align-self: center;
}

.article_para {
    font-size: 0.9em;
}

/* Testimony */

#testimony {
    margin: 0px 25%;
    padding-top: 25px;
    font-size: 1.3em;
    text-align: center;
}

#testimony p {
    color: rgb(114, 114, 114);
}

#testimony_name {
    padding-top: 15px;
    font-size: 0.8em;
}